# Copyright (c) 2009-2012, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on early-init
    mount debugfs /sys/kernel/debug /sys/kernel/debug mode=755

on init

    export LD_SHIM_LIBS "/system/vendor/lib64/lib-imscamera.so|libshim_ims-camera.so:/system/vendor/lib/lib-imsvt.so|libshims_ims.so:/system/vendor/lib64/lib-imsvt.so|libshims_ims.so:/system/lib/libFNVfbEngineHAL.so|libshim_camera.so:/system/lib64/libFNVfbEngineLib.so|libshim_camera.so"

    write /sys/devices/soc.0/f98a4900.sdhci/mmc_host/mmc1/clkgate_delay 1
    # Avoid long waits for rcu grace periods
    write /sys/kernel/rcu_expedited 1

on boot
    chown root system /sys/class/power_supply/battery/charging_enabled
    chmod 0664 /sys/class/power_supply/battery/charging_enabled
    restorecon /sys/class/power_supply/battery/charging_enabled

    # permissions for NFC
    chmod 0660 /dev/bcm2079x
    chown nfc nfc /dev/bcm2079x

service zram-init /system/bin/sh /init.zram.sh
    class late_start
    user root
    disabled
    oneshot

#TP node start
service tp-init /system/bin/sh /init.tp.sh
    class main
    user root
    group root
    oneshot
# TP node end

on post-fs-data
    # ADDED BY ZTEMT ZhuBing
    # add the sensor sysfs permission
    #hall_device
    chown system system /sys/class/hall_device/hall_device/enable
    chmod 0644 /sys/class/hall_device/hall_device/enable

    #proximity
    mkdir /persist/proxdata 0775 system system
    chown system system /persist/proxdata
    chmod 0775 /persist/proxdata
    chown system system /sys/class/proximity/proximity/enable
    chown system system /sys/class/proximity/proximity/prox_manual_calibrate_threshold
    chown system system /sys/class/proximity/proximity/prox_init
    chown system system /sys/class/proximity/proximity/prox_threshold_init
    chown system system /sys/class/proximity/proximity/prox_offset_init
    chown system system /sys/class/proximity/proximity/prox_thres
    chown system system /sys/class/proximity/proximity/chip_name
    chown system system /sys/class/proximity/proximity/prox_threshold_cal_start
    chown system system /sys/class/proximity/proximity/prox_offset_cal_start
    chown system system /sys/class/proximity/proximity/prox_offset_cal
    chown system system /sys/class/proximity/proximity/prox_data_safe_range_max
    chown system system /sys/class/proximity/proximity/prox_data_safe_range_min
    chown system system /sys/class/proximity/proximity/prox_calibrate
    chown system system /sys/class/proximity/proximity/prox_calibrate_start
    chown system system /sys/class/proximity/proximity/prox_calibrate_result
    chown system system /sys/class/proximity/proximity/prox_data_max
    chown system system /sys/class/proximity/proximity/prox_debug
    chown system system /sys/class/proximity/proximity/prox_thres_max
    chown system system /sys/class/proximity/proximity/prox_thres_min
    chown system system /sys/class/proximity/proximity/prox_threshold_high
    chown system system /sys/class/proximity/proximity/prox_threshold_low
    chown system system /sys/class/proximity/proximity/prox_thres_param_high
    chown system system /sys/class/proximity/proximity/prox_thres_param_low
    chown system system /sys/class/proximity/proximity/prox_pluse_length
    chown system system /sys/class/proximity/proximity/prox_thres_pulse_count
    chown system system /sys/class/proximity/proximity/prox_wakelock
    chown system system /sys/class/proximity/proximity/prox_phone_is_sleep
    chown system system /sys/class/proximity/proximity/prox_irq
    chown system system /sys/class/proximity/proximity/prox_offset_cal_verify
    chown system system /sys/class/proximity/proximity/prox_calibrate_verify

    chmod 0644 /sys/class/proximity/proximity/enable
    chmod 0644 /sys/class/proximity/proximity/prox_manual_calibrate_threshold
    chmod 0644 /sys/class/proximity/proximity/chip_name
    chmod 0644 /sys/class/proximity/proximity/prox_threshold_cal_start
    chmod 0644 /sys/class/proximity/proximity/prox_offset_cal_start
    chmod 0644 /sys/class/proximity/proximity/prox_data_safe_range_max
    chmod 0644 /sys/class/proximity/proximity/prox_data_safe_range_min
    chmod 0644 /sys/class/proximity/proximity/prox_calibrate_start
    chmod 0644 /sys/class/proximity/proximity/prox_calibrate_result
    chmod 0644 /sys/class/proximity/proximity/prox_debug
    chmod 0644 /sys/class/proximity/proximity/prox_thres_max
    chmod 0644 /sys/class/proximity/proximity/prox_thres_min
    chmod 0644 /sys/class/proximity/proximity/prox_threshold_high
    chmod 0644 /sys/class/proximity/proximity/prox_threshold_low
    chmod 0644 /sys/class/proximity/proximity/prox_pluse_length
    chmod 0644 /sys/class/proximity/proximity/prox_thres_pulse_count
    chmod 0644 /sys/class/proximity/proximity/prox_irq
    chmod 0644 /sys/class/proximity/proximity/prox_offset_cal_verify
    chmod 0644 /sys/class/proximity/proximity/prox_calibrate_verify

    #light
    chown system system /sys/class/light/light/enable
    chown system system /sys/class/light/light/delay

    chmod 0644 system system /sys/class/light/light/enable
    chmod 0644 system system /sys/class/light/light/delay
    # ADDED BY ZTEMT ZhuBing END

    # GPU Tuning
    chown root system /sys/class/kgsl/kgsl-3d0/dispatch/inflight
    chmod 0660 /sys/class/kgsl/kgsl-3d0/dispatch/inflight
    chown root system /sys/class/kgsl/kgsl-3d0/dispatch/inflight_low_latency
    chmod 0660 /sys/class/kgsl/kgsl-3d0/dispatch/inflight_low_latency

    # Nubia LED
    chown system system /sys/class/leds/nubia_led/brightness
    chown system system /sys/class/leds/nubia_led/lut_flags
    chown system system /sys/class/leds/nubia_led/pause_hi
    chown system system /sys/class/leds/nubia_led/pause_lo
    chown system system /sys/class/leds/nubia_led/ramp_step_ms
    chown system system /sys/class/leds/nubia_led/duty_pcts
    chown system system /sys/class/leds/nubia_led/outn
    chown system system /sys/class/leds/nubia_led/blink_mode

    # Nubia NFC msm specific files that need to be created on /data
    mkdir /data/nfc
    mkdir /etc/param
    start nfc-default-sh
